APP_NAME="Etic Commerce"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://YOUR-DOMAIN

APP_LOCALE=tr
APP_FALLBACK_LOCALE=tr
APP_FAKER_LOCALE=tr_TR

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=etic_commerce
DB_USERNAME=etic_commerce
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
QUEUE_CONVERSIONS_BY_DEFAULT=false
MEDIA_DISK=public
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@YOUR-DOMAIN"
MAIL_FROM_NAME="${APP_NAME}"

ETIC_STORE_HANDLE=boxers
ETIC_STORE_NAME="Etic Boxer"
ETIC_LOCALE=tr
ETIC_CURRENCY=TRY
ETIC_THEME=default
ETIC_MEDIA_MAX_UPLOAD_KB=51200

ADMIN_EMAIL=
ADMIN_PASSWORD=

PAYMENTS_TYPE=cash-in-hand
IYZICO_API_KEY=
IYZICO_SECRET_KEY=
IYZICO_BASE_URL=https://api.iyzipay.com
